NAME=NexRevolution
AVATAR=https://images-ext-2.discordapp.net/external/Tya44QeqyNG7PN-2BD0899tNlf7siZlm3fjRSpE8Cxw/%3Fformat%3Dwebp%26quality%3Dlossless/https/images-ext-1.discordapp.net/external/fwjpMVZYMvXakfOoZt1wA-aYMMUKXnVHnGWKifD0AVs/%253Fformat%253Dwebp%2526quality%253Dlossless%2526width%253D559%2526height%253D559/https/images-ext-2.discordapp.net/external/fQ5fQRpUlXsWV02K7aLZ5zWlXyzerEoYfsZw8ZC4qoU/%25253Fsize%25253D2048/https/cdn.discordapp.com/icons/1028732529664077976/58d8fafe71a209d68e0aa40d9d5dc3d7.png?format=webp&quality=lossless&width=671&height=671
TYPE=bot
MAIN=src/client.py
RAM=100
AUTORESTART=false
VERSION=latest
APT=tools